body {
    font-family: "Inter", sans-serif;
    background-color: #9AC8FF;
}


.title {
    font-size: 64px;
    font-weight: 700;
    display: inline-flex;
    line-height: 110%;

}

.subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.pink-border {
    background-color: #FF9FCC;
    border: transparent;
    border-radius: 15px;
    

}

.input-text {
    font-size: 16px;
    line-height: 24px;
    border-radius: 12px;
}

.loading {
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
}

.result-title {
    font-size: 50px;
    line-height: 110%;
    font-weight: 700;
    text-align: left;
    color: #050826;
}

.result {
    scrollbar-width: thin;
}

.no-select {
    user-select: none;
    -webkit-user-select: none; /* Para navegadores WebKit */
    -moz-user-select: none;    /* Para Firefox */
    -ms-user-select: none;     /* Para IE/Edge */
}

.card-rank {
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
    text-align: left;
}

.card-album {
    width: 20rem;
    row-gap: 16px;
    
}

.album-name {
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    color: #212529;
}

.artist-name {
    font-size: 14px;
    line-height: 120%;
    font-weight: 500;
    color: #484E54;
}

.playcount {
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
    color: #212529;
}

.hours {
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
    color: #212529;
}

#loading-div {
    display: none;
}


@media (max-width: 375px) {
    .title {
        font-size: 40px;
        /* Defina o tamanho desejado aqui */
    }

    .custom-width {
        padding: 0;

    }

    .result-title {
        font-size: 24px;
    }
    .card-album {
        
        padding: 0;
        margin: 0;
        display: flex;
    }

    .space-right {
        padding-left: 12px;
    }

    .card-rank {
        align-self: center;
        padding: 0 10px 0 15px;
    }
    .img-mobile {
        width: 100px;
        height: 100px;
    }
    .gap-mobile {
        column-gap: 12px;
    }
    .album-name {
        font-size: 14px;
    }
    .artist-name {
        font-size: 14px;
    }
    .hours {
        font-size: 20px;
    }

}